[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=DBeaver Community
GenericName=Universal Database Manager
Comment=Universal Database Manager and SQL Client.
Exec=dbeaver
Icon=dbeaver
Categories=IDE;Development
StartupWMClass=DBeaver
StartupNotify=true
# Removed PostgreSQL from Keywords so that it doesn't interfere with Postman on Rofi
Keywords=Database;SQL;IDE;JDBC;ODBC;MySQL
MimeType=application/sql
