@import '../hypr/theme/colors.css';

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}


window#waybar {
    background-color: rgba(0,0,0,0.3);
    font-family: "Intel One Mono", "Symbols Nerd Font";
    color: #fdfdfd;
    transition-property: background-color;
    transition-duration: .2s;
}

window#waybar.hidden {
    opacity: 0.1;
}

window#waybar.empty {
    background-color: transparent;
}

window#waybar.empty #window {
    padding: 0px;
    border: 0px;
    background-color: transparent;
}

/* PADDING */

#backlight,
#backlight-slider,
#battery,
#bluetooth,
#clock,
#cpu,
#disk,
#idle_inhibitor,
#keyboard-state,
#memory,
#mode,
#mpris,
#network,
#pulseaudio,
#pulseaudio-slider,
#taskbar,
#temperature,
#tray,
#window,
#wireplumber,
#workspaces,
#custom-shutdown,
#custom-reboot {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 6px;
    padding-left: 6px;
}

#custom-shutdown,
#custom-gmail,
#custom-updates,
#tray {
    padding-right: 12px;
}

#window {
    /* Compensate for keyboard indicator */
	padding-left: 22px;
    font-family: "Cantarell";
    font-weight: bold;
}

tooltip label{
    padding: 4px;
}

/* TASKBAR */

#taskbar button {
    font-family: "Cantarell";
    color: #ffffff;
    border-radius: 10px;
    padding-left: 8px;
    padding-right: 8px;
}
#taskbar button.active {
    background-color: @selected-item;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button {
    background-color: transparent;
    color: #ffffff;
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 9px;
    padding-left: 4px;
    padding-right: 4px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}
#workspaces button.active {
    background-color: transparent;
    color: @accent-color;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}
#workspaces button:hover {
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}
#workspaces button.urgent {
    background-color: #eb4d4b;
}

/* COLOR */

#clock {
    color: @accent-color;
    font-weight: bold;
}


#custom-separator {
    color: #606060;
}

#idle_inhibitor.activated {
    background-color: @accent-color;
    color: black;
}

#keyboard-state .capslock.locked {
    background-color: @accent-color;
    color: black;
    padding-left: 8px;
    padding-right: 8px;
}

#custom-gmail.unread {
    color: @accent-color;
}
#custom-gmail.inaccurate {
    color: #606060;
}
#custom-gmail.error {
    color: darkred;
}
#custom-updates {
    color: @accent-color;
}

tooltip {
    background: @card-background;
    border-radius: 4px;
}

#tray menu {
    background-color: @card-background;
    color: #fdfdfd;
    border-radius: 4px;
}

#tray menu menuitem {
    padding: 4px;
    border-radius: 4px;
}
