/.workspaces
/drivers
/secure
/workspace6/.metadata/.config
/workspace6/.metadata/.lock
/workspace6/.metadata/.log
/workspace6/.metadata/dbeaver-debug*
/workspace6/.metadata/dbeaver-workspace.properties
/workspace6/.metadata/dbeaver-instance.properties
/workspace6/.metadata/.plugins/org.eclipse.core.resources
/workspace6/.metadata/.plugins/org.eclipse.e4.workbench
/workspace6/.metadata/.plugins/org.eclipse.ui.ide
/workspace6/.metadata/.plugins/org.eclipse.ui.workbench
/workspace6/.metadata/.plugins/org.jkiss.dbeaver.core
/workspace6/.metadata/.plugins/org.jkiss.dbeaver.ui
*.bak
/workspace6/*/Scripts/*
/workspace6/*/.dbeaver/project-metadata.json
