/Cookies
/Cookies-journal
/code.lock
/languagepacks.json
/machineid
/Network Persistent State
/Preferences
/SharedStorage
/SharedStorage-wal
/TransportSecurity
/Trust Tokens
/Trust Tokens-journal
/Cache
/CachedData
/CachedExtensionVSIXs
/CachedProfilesData
/Code Cache
/Backups
/Dictionaries
/Crashpad
/DawnGraphiteCache
/DawnWebGPUCache
/GPUCache
/Local Storage
/Session Storage
/Service Worker
/WebStorage
/logs
/Shared Dictionary
/User/History
/User/globalStorage
/User/workspaceStorage
/User/profiles
/User/sync
