/AtlasState/AtlasPluginState.json
/Cache
/Code Cache
/Cookies
/Cookies-journal
/CrashReporter
/DawnGraphiteCache
/DawnWebGPUCache
/Dictionaries
/Shared Dictionary
/GPUCache
/Local Storage
/Session Storage
/logs
/Network Persistent State
/Preferences
/SharedStorage
/SharedStorage-wal
/TransportSecurity
/Trust Tokens
/Trust Tokens-journal
/Users
