header-editor.json filter=git-crypt diff=git-crypt
hosts filter=git-crypt diff=git-crypt
LC.profile filter=git-crypt diff=git-crypt
LC_Laptop.profile filter=git-crypt diff=git-crypt
redis-connections.json filter=git-crypt diff=git-crypt
